body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  padding: 0;
  margin: 0;
}
.container {
  /* height: auto; */
  /* width: 100vw; */
  background-color: #eeeeee;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.title {
  font-size: 38px;
  color: #1B1B1B;
  font-weight: 500;
  text-align: center;
}

.opdrachtLijst {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* background-color: DodgerBlue; */
}

.opdrachtLijst > div {
  /* background-color: #f1f1f1; */
  /* width: 100px; */
  margin: 20px;
  text-align: center;
  line-height: 75px;
  font-size: 25px;
}

.opdrachtLijst > div > a:link {
  text-decoration: underline;
  color: #000000;
}
.opdrachtLijst > div > a:visited {
  text-decoration: underline;
  color: #000000;
}
.opdrachtLijst > div > a:hover {
  text-decoration: underline;
  color: #cccccc;
}
.opdrachtLijst > div > a:active {
  text-decoration: underline;
  color: #cccccc;
}
/* STICKYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYY */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  /* padding-top: 102px; */
}


.containerOpdrachten {
  /* margin-top: 40vh; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #ffffff;
}

.opdrachtBox{
  padding: 40px;
  /* background-image: url("../img/bg2.png");
    background-size: 100% auto; */
}

.containerOpdrachten > div {
  background-color: #f1f1f1;
  width: 90vw;
  margin: 10px;
  /* text-align: center; */
  line-height: 75px;
  font-size: 30px;
  background-color: #eeeeee;
}

.containerOpdrachten > div > .titleOpdracht {
  font-size: 25px;
  font-weight: 400;
  margin: 0px;
}
.containerOpdrachten > div > .textOpdracht {
  font-size: 15px;
  font-weight: 300;
  line-height: normal;
  /* margin: 0; */
}
.containerOpdrachten > div > .textLeerdoel {
  font-size: 15px;
  font-weight: 300;
  line-height: normal;
  font-style: italic;
  /* margin: 0; */
  margin-top: 25px;
}
.containerOpdrachten > div > .textTitle {
  font-size: 20px;
  font-weight: 450;
  line-height: 200%;
  margin: 0px;
}

.divProgressie{
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  font-size: 20px;
  color: #1B1B1B;
  font-weight: 1;
}
.divProgressie1{
  margin-right: 50px;
}
.divProgressie2{
  margin-left: 50px;
}

/* .textOpdracht > img {
  margin: 10px 25px 10px 25px;
} */



/* THIS IS THE PART FOR THE IMAGES GALERY THING INSIDE OF A LEERDOEL */
div.textGalery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* background-color: #fff; */
}
div.textGaleryBlock {
  background-color: #f1f1f1;
  /* width: 25%; */
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

div.textGaleryItem {
    /* To correctly align image, regardless of content height: */
    vertical-align: top;
    display: inline-block;
    /* To horizontally center images and caption */
    text-align: center;
    /* The width of the container also implies margin around the images. */
    /* width: 90%; */
    margin: 10px 25px 10px 25px;
}
img {
    width: 200px;
    height: auto;
    background-color: grey;
}
.textGalerySpan {
    /* Make the caption a block so it occupies its own line. */
    display: block;
    font-size: 15px;
    font-weight: 300;
    line-height: normal;
    font-style: italic;
}

/* Back button */
.backbutton {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}
.backbutton:visited{
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

/* Header */
div.header {
  width: 100%;
  display: flex;
}
div.menu {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}
div.headerTitle {
  width: 60%;
}
div.header > div.menu > a, a:visited {
  font-size: 30px;
  font-weight: 300;
  line-height: normal;
  margin: 10px;
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

/* Files */
.containerOpdrachten > div > .textFile {
font-size: 25px;
font-weight: 300;
line-height: normal;
text-align: center;
}
